.highlightRowStyle {
    background-color: #bdbdc8 !important;
    border-radius: 10px;
    &:hover{
        background-color: #bdbdc8!important;
        opacity: 1;
    }
    :global .ant-table-cell-row-hover{
        background-color: #bdbdc8!important;
    }
  }
.cursorPoint{
    cursor: pointer;
}
.highlightRowSection{
    background-color: #eeeeee;
}
.customCheckbox {
    margin-top: 30px;
    :global .ant-form-item-label {
        display: flex !important;
        width: 200px !important;
        padding: 0 !important;
    }
    :global .ant-form-item-row {
        display: flex !important;
        flex-direction: row-reverse !important;
        flex-wrap: nowrap !important;
    }
}